@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  height: 100vh;
  background-color: #edf7ff;
}
.select {
  width: 260px;
  height: 40px;
  padding: 10px;
  margin: 50px 30px 30px 100px;
  border: none;
  font-size: 16px;
}
.container {
  margin-left: 100px;
}
.all-container {
  width: auto;
  height: 110px;
  padding: 20px;
  margin-bottom: 13px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.right-cont {
  display: flex;
}
.right-cont p {
  margin: 10px;
  padding: 8px;
  font-family: "Roboto", sans-serif;
}
.right-cont span {
  width: 70px;
  background-color: #edf7ff;
  padding: 8px;
  border-radius: 7px;
  font-family: "Roboto", sans-serif;
  margin-left: 20px;
}
.box-container {
  /* display: flex; */
  display: grid;
  grid-template-columns: auto 400px;

}
.result-container{
  text-align: center;
  padding: 10px;
  width: 300px;
  height: 200px;
  background-color: #1cbd9b;
  text-align: start;
  margin-left: 10px;
  color: white;
}
